*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #85c3e5;
  /*background-image: url(https://pampasoftware.com/wp-content/uploads/sites/15/2019/06/154092-OUD9IM-908-e1519685852364.jpg);*/
  background-image: url(https://blog.visualkgroup.com/wp-content/uploads/2019/01/gestion-empresarial-erp-crm-bi-870x435.jpg);
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #da8617;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #da8617;
}

.form {
  background: #9c313f;
  padding: 50px;
  padding-top: 30px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: rgba(199, 124, 26, 0.808);
  color: #ffffff;
}
.tab-group .active a {
  background: #da8617;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 25px;
}

h2 {
  text-align: left;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 25px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #da8617;
}

label.active {
  -webkit-transform: translateY(-50px);
          transform: translateY(-16px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #da8617;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 25px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #da8617;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #da8617;
}

.button-block {
  display: block;
  font-size: larger;
  width: 100%;
}

.button-block:hover,
.button-block:focus,
.button-block:active,
.button-block.active,
.open .dropdown-toggle.button-block {
    border-color: #da8617;
    border-width: thick;
    color: rgb(255, 255, 255);
    background-color: rgb(201, 119, 11);
    cursor: pointer;
}

.button-back{
  margin-bottom: 10px;
  display: block;
  font-size: large;
  width: 100%;
  top: 20px;
}

.button-back:hover,
.button-back:focus,
.button-back:active,
.button-back.active,
.open .dropdown-toggle.button-back {
    border-color: #da8617;
    border-width: thick;
    color: rgb(255, 255, 255);
    background-color: rgb(201, 119, 11);
    cursor: pointer;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

/* empieza lo del combo box */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-default {
  border-color: transparent;
  background-color: #222;
}

.navbar-default .navbar-brand {
  font-family: 'Titillium Web', sans-serif;
  color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #fec503;
}

.navbar-default .navbar-collapse {
  border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
  border-color: #1ee2e7;
  background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1ee2e7;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
  background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #17d0d5;
}

@media(min-width:768px) {
  .navbar-default {
      padding: 25px 0;
      border: 0;
      width: 100%;
      height: 70px;
      background-color: transparent;
      -webkit-transition: padding .3s;
      -moz-transition: padding .3s;
      transition: padding .3s;
      
  }

  .navbar-default .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
  }

  .navbar-default .navbar-nav>.active>a {
      border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
      padding: 10px 0;
      background-color: #222;
  }

  .navbar-default.navbar-shrink .navbar-brand {
      font-size: 1.5em;
      color: rgb(206, 206, 206,63);
      font-weight: 700;
      font-size: 34px;
      margin-left: 94px;
  }
}
