<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Carga de productos del egreso</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/GESOC_Bandeja_Mensajes.css">
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
        <a class="navbar-brand page-scroll" href="./GESOC_Menu_Logueado.html">GESOC</a>
    </div>
</nav>

<!-- partial:index.partial.html -->
<div class="form">

    <button type="submit" class="button button-back" onclick="window.location.href='/menu_logueado'">Volver al menú
        principal</button>

    <div class="tab-content">
        <div id="compra">
            <br>
            <h3>Visualice su Bandeja de Mensajes</h3>

            <table id="scroll">
                <tr>
                    <th>Fecha</th>
                    <th>Mensaje</th>
                </tr>
            </table>
            <form class="" action="/cargar_egreso" method="post" style="">
                <div id="div1">
                    <table id="scroll">
                        <tr>
                            <td>Fecha 1</td>
                            <td>Mensaje 1</td>
                        </tr>
                        <tr>
                            <td>Fecha 2</td>
                            <td>Mensaje 2</td>
                        </tr>
                        <tr>
                            <td>Fecha 3</td>
                            <td>Mensaje 3</td>
                        </tr>
                        <tr>
                            <td>Fecha 4</td>
                            <td>Mensaje 4</td>
                        </tr>
                        <tr>
                            <td>Fecha 5</td>
                            <td>Mensaje 5</td>
                        </tr>
                        <tr>
                            <td>Fecha 6</td>
                            <td>Mensaje 6</td>
                        </tr>

                    </table>
                </div>


            </form>


        </div>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script  src="/js/GESOC_Bandeja_Mensajes.js"></script>


    </div>
</div>
</body>

</html>