<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>CodePen - Email UI - Dribbble Rebound</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="./GESOC_Bandeja_Mensajes.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="./GESOC_Menu_Logueado.html">GESOC</a>
        </div>
  </nav>


<!-- partial:index.partial.html -->
<div class="container app">
  <aside class="sidebar">
    
    <nav class="main-nav">
      <ul>
        <li class="active">
          <ul>
            <button type="submit" class="button button-back" onclick="window.location.href='./GESOC_Menu_Logueado.html'">Volver al menú principal</button>
            <br>
            <li class="active"><a href="#">Mensajes Nuevos <span class="btn btn-primary">25</span></a></li>
            <li><a href="#">Mensajes Eliminados</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  <div class="main">
    <header class="header">
      <nav class="nav-settings">
      </nav>
      <div class="clr"></div>
    </header>
    <div class="container">
      <div class="messages">
        <h1>Bandeja de mensajes <span class="icon icon-arrow-down"></span></h1>
        <form action="">
          <input type="search" class="search" placeholder="Buscar en la bandeja de mensajes" />
        </form>
        <ul class="message-list">
          <li class="new">
            <input type="checkbox" />
            <div class="preview">
              <h3>15 de Julio de 2020</h3>
              <p>Compra número #45234</p>
            </div>
          </li>
          <li class="active">
            <input type="checkbox" />
            <div class="preview">
              <h3>15 de Julio de 2020</h3>
              <p>Compra número #47834</p>
            </div>
          </li>
          <li class="">
            <input type="checkbox" />
            <div class="preview">
              <h3>14 de Julio de 2020</h3>
              <p><strong></strong>Compra número #908</strong></p>
            </div>
          </li>
          <li class="">
            <input type="checkbox" />
            <div class="preview">
              <h3>Jul 13</h3>
              <p><strong>Compra número #4909</strong></p>
            </div>
          </li>
          <li class="">
            <input type="checkbox" />
            <div class="preview">
              <h3>13 de Julio de 2020</h3>
              <p><strong>Compra número #21</strong></p>
            </div>
          </li>
          <li class="">
            <input type="checkbox" />
            <div class="preview">
              <h3>12 de Julio de 2020</h3>
              <p><strong>Compra número #4788</strong></p>
            </div>
          </li>
          <li class="">
            <input type="checkbox" />
            <div class="preview">
              <h3>12 de Julio de 2020</h3>
              <p><strong>Compra número #470034</strong></p>
            </div>
          </li>
          <li class="">
            <input type="checkbox" />
            <div class="preview">
              <h3>12 de Julio de 2020</h3>
              <p><strong>Compra número #9809</strong></p>
            </div>
          </li>
          <li class="new">
            <input type="checkbox" />
            <div class="preview">
              <h3>12 de Julio de 2020</h3>
              <p><strong>Compra número #11111</strong></p>
            </div>
          </li>
          <li class="">
            <input type="checkbox" />
            <div class="preview">
              <h3>11 de Julio de 2020</h3>
              <p><strong>Compra número #1821</strong>.</p>
            </div>
          </li>
        </ul>
      </div>
      <section class="message">
        <div class="meta-data">
          <p>
            <span class="date">15 de Julio de 2020</span>
          </p>
        </div>
        <div class="body">
          <p>Compra número #12892</p>
        </div>

          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- partial -->
  
</body>
</html>
